body {
    background-color: whitesmoke;
}
#filter__input {
    display: block; margin: auto; width: 40%;
}

#plan{
    display: none;
    position: fixed;
    top: 10%;
    right: 10%;
    width: 30%;
    height: auto;
    background-color: whitesmoke;
    z-index: 1001;
}

#ejercicios {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
}

#ejercicios div {
    height: 500px;
    width: 400px;
    margin-bottom: 10px;

    
}

#busqueda {
    text-align: center;
    font-size: 50px;
}

.card-title {
    max-width: 200px;
    text-align: center;
}

.card-text {
    max-width: 200px;
    text-align: center;
}

.btn {
    display: block;
    margin-left: 75px;
}